@import '../../sass/mixins.scss';

.show-container{
    padding: 1rem;

    font-family: $primary-font;
    .title{
        @include title;
    }
    .card{
        max-height: 50rem;
        max-width: 35rem;
        
        .image{
            padding: 1rem
        }
    }
    img{
        padding-bottom: 1rem;
    }
 
    .pagination-container{
        ul{
            list-style: none;
        }
        @include episode-list-item;
    }

    .episode-list-container {
        @include episode-list-item;
        margin-bottom: 10px;
        overflow: overlay;
        max-height: 15rem;
        
    }
}